services:
 dynamodb-local:
   command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
   image: "amazon/dynamodb-local:latest"
   ports:
     - "8000:8000"
   volumes:
     - "./dynamodb:/home/dynamodblocal/data"
   working_dir: /home/dynamodblocal