
{% macro get_py_script_func_name(task_obj, task_name) %}
{%- if "py_script" in task_obj -%}
{%- if task_obj["py_script"] == True -%}
{{ task_name }}
{%- else -%}
{{ task_obj["py_script"].split(".")[0] }}
{%- endif -%}
{%- endif -%}
{%- endmacro %}

{% macro deps_to_str(deps) %}
{%- for dep in deps -%}
{%- set _dep = "_" + dep %}
            {{ _dep }}{% if not loop.last %},{% endif %}
{%- endfor %}
{%- endmacro %}

{% macro submit(name, task_obj, deps) -%}
_{{name}} = submit(
        "{{name}}",
        pipeline_config,
        task_list,
        ignore_cache
        {%- if "py_script" in task_obj %},
        tasks.{{name}}
        {%- endif %}
    )
{%- endmacro %}